typer==0.12.3
pydantic==2.8.2
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
aider==0.2.6
cryptography==42.0.5
types-requests==2.32.0.20240712
mypy==1.11.1
# Optional dependencies for enhanced functionality
colorama==0.4.6  # For colored terminal output
rich==13.3.5  # For rich text and beautiful formatting in the terminal
prompt_toolkit
litellm
backoff
coverage
line_profiler
flake8
mccabe